:root {
  --clr-background-toggle: var(--clr-lighttheme-50);
  --clr-button-toggle: var(--clr-lighttheme-200);

  --clr-background-cardgrande: var(--clr-lighttheme-300);
  --clr-background-card: var(--clr-lighttheme-300);

  --clr-activebackground-cardgrande: var(--clr-lighttheme-600);
  --clr-activebackground-card: var(--clr-lighttheme-600);

  --theme-label-text: 1;

  --fz-labeltext: var(--fz-75);
  --clr-labeltext-theme: var(--clr-lighttheme-400);

  --clr-basetext: var(--clr-lighttheme-500);

  --clr-background-dashboard: var(--clr-lighttheme-200);

  --fz-titulo-dashboard-header: var(--fz-400);
  --clr-titulo-dashboard-header: var(--clr-basetext);

  --fz-subtitulo-dashboard-header: var(--fz-75);
  --clr-subtitulo-dashboard-header: var(--clr-lighttheme-400);

  --fz-titulo-dashboard-resumo: var(--fz-300);
  --clr-titulo-dashboard-resumo: var(--clr-lighttheme-400);
}
